mixin navigation (className, items, activeItem)
    nav(class=""+className)
        ul(class=""+className+"__list")
            each nav, ndx in items
                li(class=""+className+"__item" + ( (ndx == activeItem) ? ' '+className+'__item_active' : '' ))
                    a(href="#" class=""+className+"__link")= nav

mixin list(className, items)
    ul(class= "" + className + "__list")
        each item in items
            li(class= "" + className + "__item")

mixin colorsList(className, options)
    ul(class= "" + className + "__list")
        each color, hex in options
            li(class= "" + className + "__item")
                div(class= "" + className + "__color-square" + " " + "rounded")
                div(class= "" + className + "__info")
                    h2(class= "title")= options.color
                    span(class= "text")= options.hex