extends ../layouts/default
include ../helpers/mixins

    block variables
         - const title = "Toxin"

    block content
        div test
            h1 Che za hu

    block scripts
        script(src="js/main.bundle.js")
        script(src="js/vendor.js")