extends ../layouts/default
include ../helpers/mixins

    block variables
        - const title = "Toxin UIkit";

    block content
        include ../../blocks/modules/uikit/uikit

    block scripts
        //script(src="js/pageB.js")
        script(src="js/vendor.js")