extends ../layouts/default
include ../helpers/mixins

    block variables
        - const title = "Toxin UIkit";

    block content
        .container
            include ../../blocks/modules/header/header
        main.main.page__main
            include ../../blocks/modules/uiColorsSizesSection/uiColorsSizesSection

    block scripts
        script(src="js/pageB.js")
        script(src="js/vendor.js")