*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  font-size: $size-font;
  line-height: 1.5;
  color: $darkShade-75;
  background-color: $white;
  overflow-x: hidden;
}

main {
  max-width: $maxWidth;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: montserrat-bold, sans-serif;
  font-size: $size-h1;
  font-weight: 700;
}
h2 {
  font-family: 'montserrat-bold', sans-serif;
  font-size: $size-h2;
  font-weight: 700;
}
h3 {
  font-family: 'montserrat-bold', sans-serif;
  font-size: $size-h3;
  font-weight: 700;
}

p {
  margin: 0;
  font-size: $size-text;
}

a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.container {
  max-width: $maxWidth;
  margin-right: auto;
  margin-left: auto;
  padding-right: rem(30);
  padding-left: rem(30);

  @media screen and (max-width: $break-md) {
    max-width: rem(540);
  }
  @media screen and (max-width: $break-lg) {
    max-width: rem(720);
  }
  @media screen and (max-width: $break-xl) {
    max-width: rem(1140);
  }
}

.wrapper {
  max-width: rem(1140);
  margin: 0 auto;
}

.row {
  @include isFlex(stretch, stretch);
}

.column {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.column-1 {
  min-width: calc(100% / 12 * 1);
  flex: 0 0 calc(100% / 12 * 1);
}
.column-2 {
  min-width: calc(100% / 12 * 2);
  flex: 0 0 calc(100% / 12 * 2);
}
.column-3 {
  min-width: calc(100% / 12 * 3);
  flex: 0 0 calc(100% / 12 * 3);
}
.column-4 {
  min-width: calc(100% / 12 * 4);
  flex: 0 0 calc(100% / 12 * 4);
}
.column-5 {
  min-width: calc(100% / 12 * 5);
  flex: 0 0 calc(100% / 12 * 5);
}
.column-6 {
  min-width: calc(100% / 12 * 6);
  flex: 0 0 calc(100% / 12 * 6);
}
.column-7 {
  min-width: calc(100% / 12 * 7);
  flex: 0 0 calc(100% / 12 * 7);
}
.column-8 {
  min-width: calc(100% / 12 * 8);
  flex: 0 0 calc(100% / 12 * 8);
}
.column-9 {
  min-width: calc(100% / 12 * 9);
  flex: 0 0 calc(100% / 12 * 9);
}
.column-10 {
  min-width: calc(100% / 12 * 10);
  flex: 0 0 calc(100% / 12 * 10);
}
.column-11 {
  min-width: calc(100% / 12 * 11);
  flex: 0 0 calc(100% / 12 * 11);
}
.column-12 {
  min-width: calc(100% / 12 * 12);
  flex: 0 0 calc(100% / 12 * 12);
}

.py-5 {
  padding-top: rem(50);
  padding-bottom: rem(50);
}

.py-4 {
  padding-top: rem(40);
  padding-bottom: rem(40);
}
.py-3 {
  padding-top: rem(30);
  padding-bottom: rem(30);
}
.py-2 {
  padding-top: rem(20);
  padding-bottom: rem(20);
}
.py-1 {
  padding-top: rem(10);
  padding-bottom: rem(10);
}

.rounded {
  border-radius: $radius;
}

.title {
  font-family: 'montserrat-bold', sans-serif;
  color: $darkShade-100;
}

.text {
  margin: 0;
  padding: 0;
}

.shade-100 {
  background-color: $darkShade-100;
}
.shade-75 {
  background-color: $darkShade-75;
}
.shade-50 {
  background-color: $darkShade-50;
}
.shade-25 {
  background-color: $darkShade-25;
}
.shade-5 {
  background-color: $darkShade-5;
}
.purple {
  background-color: $purple;
}
.green {
  background-color: $green;
}

.text-shade-100 {
  color: $darkShade-100;
}
.text-shade-75 {
  color: $darkShade-75;
}
.text-shade-50 {
  color: $darkShade-50;
}
.text-shade-25 {
  color: $darkShade-25;
}
.text-shade-5 {
  color: $darkShade-5;
}
.text-purple {
  color: $purple;
}
.text-green {
  color: $green;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}